server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: disciplina-service
          uri: http://localhost:8081
          predicates:
            - Path=/cursos/**
            - Path=/disciplinas/**
            - Path=/escolas/**
            - Path=/matrizes/**
          filters:
            - StripPrefix=1

        - id: programa-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/atualizacoes/**
            - Path=/api/bibliografias/**
            - Path=/api/programas/**
          filters:
            - StripPrefix=1

        - id: auth-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin, RETAIN_FIRST
        - AddResponseHeader=Access-Control-Allow-Origin, "*"
        - AddResponseHeader=Access-Control-Allow-Credentials, "true"
        - AddResponseHeader=Access-Control-Allow-Methods, "GET, POST, PUT, DELETE, OPTIONS"
        - AddResponseHeader=Access-Control-Allow-Headers, "Content-Type, Authorization"

      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
        allow-credentials: true

      httpclient:
        connect-timeout: 5000
        response-timeout: 5000ms

management:
  endpoints:
    web:
      exposure:
        include: "*"

  health:
    show-details: always
